<div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto xl:mx-0 h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center xl:text-left text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign {{ isRegister ? "up" : "in"}} to your account</h2>
    <p class="mt-2 text-center xl:text-left text-sm text-gray-500">
        {{ isRegister ? "Already" : "Don't"}} have an account?
        <a [routerLink]="isRegister ? '/login' : '/register'" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign {{ isRegister ? "in" : "up"}}</a>
    </p>
</div>